[submodule "vim/.vim/bundle/auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/vim-closetag"]
	path = vim/.vim/bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "vim/.vim/bundle/vim-css-color"]
	path = vim/.vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/.vim/bundle/vim-fish"]
	path = vim/.vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/.vim/bundle/vim-gutentags"]
	path = vim/.vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-jsx"]
	path = vim/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/solarized8"]
	path = vim/.vim/bundle/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/.vim/bundle/vim-startify"]
	path = vim/.vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "tmux/.tmux/plugins/tmux-colors-solarized"]
	path = tmux/.tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
